@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');/*open source font*/
:root{
    --content-spacing:5px;
    --text-color:#1e181a;
    --border:6px double black;
    --backgroundtexture:url("./texturepaper.png");
    --foreground-color:#FFEBA5;
    --spread-background:url("./backgroundseamless.png");
    --title-background:url("./titlebackground.png");
    --card-border:4px solid #1e181a;
}

body{
    background-image:var(--backgroundtexture);
    font-family: "Prociono", serif;
    font-weight:400;
    color:var(--text-color);
    font-style:normal;
    background-attachment:fixed;
    background-size:100%;
    background-repeat:no-repeat;
    background-color:#f8d667;
}
#container{
    max-width:850px;
    margin: 16px auto 480px auto;
}

#banner{
    text-align:center;
    height:max-content;
    width:100%;
    padding-top:16px;
    padding-bottom:16px;
    margin-bottom:8px;
    font-size:75px;
    background-image:url("./bannerbackground.png");
    background-size:cover;
}
main{
    text-align:center;
    width:100%;
}
.spread{
    padding:20px;
}

.label{
    font-weight:bold;
    font-size:24px;
    padding:2px;
    border:var(--card-border);
    background-image:var(--title-background);
    border-radius:5px;
}

.flex{
    display:flex;
    justify-content:center;
}

.card{
    margin-left:8px;
    margin-right:8px;
}