@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');/*open source font*/
:root{
    --content-spacing:5px;
    --text-color:#1e181a;
    --border:6px double black;
    --backgroundtexture:url("./texturepaper.png");
    --foreground-color:#FFEBA5;
    --title-background:url("./titlebackground.png")
}

body{
    background-image:var(--backgroundtexture);
    font-family: "Prociono", serif;
    font-weight:400;
    color:var(--text-color);
    font-style:normal;
    background-attachment:fixed;
    background-size:100%;
    background-repeat:no-repeat;
    background-color:#f8d667;
}
#container{
    max-width:850px;
    margin: 16px auto 480px auto;
}

#banner{
    text-align:center;
    height:max-content;
    width:100%;
    margin-bottom:8px;
    padding-top:16px;
    font-size:60px;
    border-bottom:8px double #1e181a;
    background-color:var(--foreground-color);
}
main{
    text-align:center;
    width:100%;
    background-color:var(--foreground-color);
}
.spread{
    padding:20px;
}

.label{
    font-weight:bold;
    font-size:24px;
    padding:2px;
    border:4px double #1e181a;
    background-image:var(--title-background);
}