@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');/*open source font*/
:root{
    --text-color:#1e181a;
    --backgroundtexture:url("./texturepaper.png");
    --foreground-color:#FFEBA5;
    --bookpull:bookpull .5s 1 linear forwards;
}

body{
    background-image:var(--backgroundtexture);
    font-family: "Prociono", serif;
    font-weight:400;
    color:var(--text-color);
    font-style:normal;
    background-attachment:fixed;
    background-size:100%;
    background-repeat:no-repeat;
    background-color:#f8d667;
}

#container{
    display:flex;
    margin:auto;
    margin-top:200px;
    max-width:1400px;
}

.bookshelf{
    margin:auto;
    width:360px;
    height:560px;
    background-image: url("./shelf.png");
    background-size:400px 600px;
    padding:20px;
    /*flex rules*/
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
    row-gap:20px;
}

.book{
    width:20px;
    height:121px;
    margin:2px;
    background-color:#FFEBA5;
}

.spine{
    width:20px;
    height:121px;
    background-color:#bf353b;
    transition: all 10ms ease-out;
}

.spine:hover{
    animation:var(--bookpull);
}

@keyframes bookpull{
    from {
        transform:scaleY(1) translateY(0px);
    }
    to{
        transform:scaleY(.95) translateY(10px);
    }
}
/*this would be wildly easier with javascript but I stubbornly refuse to use it*/