:root{
    --discomfort:discomfort 5s infinite linear;
    --discomfortrev:discomfortrev 5s infinite linear;
    --discomfortrevhover:discomfortrevhover 5s infinite linear;
}

main{
    text-align:center;
    width:100%;
}
.spread{
    padding:20px;
}

.label{
    font-weight:bold;
    font-size:24px;
    padding:2px;
    margin-left:4px;
    margin-right:4px;
}

.flex{ /*allows for easy insertion of more cards later on*/
    display:flex;
    justify-content:center;
}

.card{
    margin-left:8px;
    margin-right:8px;
    transition: all 300ms ease-in-out;
    animation:var(--discomfortrev);
}

.card:hover{
    transform:scale(1.1);
    animation:var(--discomfortrevhover);
}

#welcometext{
    animation:var(--discomfort);
}

@keyframes discomfort{
    0% {
        transform:rotate(0deg) translateX(1px) rotate(0deg);
    }
    100%{
        transform:rotate(-360deg) translateX(1px) rotate(360deg);
    }
}

@keyframes discomfortrev{
    0% {
        transform:rotate(0deg) translateX(1px) rotate(0deg);
    }
    100%{
        transform:rotate(360deg) translateX(1px) rotate(-360deg);
    }
}

@keyframes discomfortrevhover{
    0% {
        transform:rotate(0deg) translateX(2px) rotate(0deg) scale(1.1);
    }
    100%{
        transform:rotate(360deg) translateX(2px) rotate(-360deg) scale(1.1);
    }
}
/*these animations should make the viewer feel ill*/